@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Kleber Guedes<br />
    Great Wakering<br />
    Southend-on-Sea<br />
    <abbr title="Phone">P:</abbr> 075 0743 3163
</address>

<address>
    <strong>Email:</strong> <a href="mailto:kleber.guedes@gmail.com">kleber.guedes@gmail.com</a><br />
</address>


<p>Few things here were kept very simple.</p>
<p>I did not add any ajax call because there was no need for it on a mvc application.</p>
<p>I did not add automapper to map the models to the view model because it was an overkill.</p>
