@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Kleber Guedes<br />
    Great Wakering<br />
    Southend-on-Sea<br />
    <abbr title="Phone">P:</abbr> 075 0743 3163
</address>

<address>
    <strong>Email:</strong> <a href="mailto:kleber.guedes@gmail.com">kleber.guedes@gmail.com</a><br />
</address>
